/* achtergrond aanpassen op maat. */
body{
    background: url("../images/FALLOUT2.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* links naast elkaar neerzetten */
li {
    display: inline;
}
/* links aan de linker kant neerzetten */
ul{
    text-align: left;
}
/* tekst style van de links */
a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration:none;
    color: #77ee6b;
    letter-spacing: 1px;
    margin: 10px auto;
    display: inline-block;
}
/* wanneeer ik met mijn muis over de link ga */
a:hover, a:active {
    color: #004700;
    background-color: #77ee6b;
}


/* informatie balk tekst style (midden) */
article {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    margin: auto;
    display: inline-block;
    font-size: 20px;
}
/* border informatie balk */
.border{
    color: #77ee6b;
    border-radius: 25px;
    padding: 20px;
    border-style: solid;
    border-width: medium;
    height: auto;

/* border afstand */
    margin: auto;
    width: 50%;
}
/* titel in de border */
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1px;
    color: #77ee6b;
}
/* afbeeldingen voor het midden (horizontaal) */
img.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

/* opsomming in projecten */
summary {
    color: #77ee6b;
    display: block;
    font-style: italic;
}
/* wanneeer ik met mijn muis over de opsomming ga */
summary:hover, summary:active {
    color: #004700;
    background-color: #77ee6b;
}


